.wrapper {
    p {
        color: #7B8499;
        font: 500 14px Inter;
        font-style: normal;
        line-height: 20px;
    }

    Link {
        color: #12141A;
        font: 500 14px Inter;
        font-style: normal;
    }
}